 /* img {
    max-width: 50%;
    height: auto;   
    display: flex;   
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}  */
body.dark{
    background-color: #292c35;
}
/* 
}
h1{
    position: center;
}
*/
img{
    position: relative;;
    size:75%
} 
h1{
    color:darkorchid;
    padding:5px;
    border:50px;
    border-color:black;
    border-radius:10px;
    position: center ;
    text-align: center ;
}
div{
    color:darkorchid
}
label{
    text-align: center;
}